<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/css/theme.css" | relative_url }}?{{ site.time | date: "%s%N" }}">
  <script>
    (()=>{
      const root = document.documentElement;
      const resize = () => {
        const width = window.innerWidth;
        const height = window.innerHeight;
        root.style.setProperty("--vw",width+"px");
        root.style.setProperty("--vh",height+"px");
        root.style.setProperty("--vmin",(width<height?width:height)+"px");
        root.style.setProperty("--vmax",(width>height?width:height)+"px");
      }
      resize();
      window.addEventListener("resize",resize);
    })();
  </script>
  <style>
    html, body { height: 100%; }
    footer a {
      color: var(--ce) !important;
      text-decoration: underline !important;
      text-decoration-color: var(--ce) !important;
    }
    footer a:hover { text-decoration-color: var(--ac) !important; }
  </style>
  <title>{% if page.title %}{{ page.title }}{% elsif site.title %}{{ site.title }}{% else %}{{ site.github.repository_name }}{% endif %}</title>
</head>
<body>
  <div style="display:flex;flex-direction:column;max-width:1060px;margin:0 auto;height:100%">
    <div id="content" style="padding-top:14px">
      {{ content }}
    </div>
    <footer style="margin-top:auto">
      <hr>
      <div style="padding:0 1rem 2rem 1rem">Copyright <a href="https://github.com/{{ site.github.owner_name }}" target="_blank">{{ site.github.owner_name }}</a> / <a href="https://github.com/{{ site.github.owner_name }}/{{ site.github.repository_name }}" target="_blank">{{ site.github.repository_name }}</a>, {{ site.time | date: "%Y" }}</div>
    </footer>
  </div>
</body>
</html>
