<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/css/theme.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/layout.css" | relative_url }}">
  <title>{{ page.title | default: site.title }}</title>
</head>
<body>
  <div class="wrapper">
    <div id="content" style="padding-top:14px">
      {{ content }}
    </div>
    <div style="margin-top:auto;">
      <hr>
      <div class="footer">Copyright {{ site.title }}, {{ site.time | date: "%Y" }}</div>
    </div>
  </div>
</body>
</html>
