---
layout: default
---
<script type="module">
import { Runtime, Inspector } from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
import define from "https://api.observablehq.com/{{ page.notebook }}.js?v=4";
//new Runtime().module(define, Inspector.into("main"));
const names = new Set();
const runtime = new Runtime();
runtime.module(define, name => {
  if (name.startsWith("viewof ")) {
    const v = name.slice(7);
    names.add(v);
    return Inspector.into("main")();
  }
  if (names.has(name)) {
    return true;
  }
  return Inspector.into("main")();
});
</script>
